<?php

declare(strict_types=1);

// appid 微信支付绑定的应用帐号
// mchid 微信支付商户号
// mchkey 微信支付商户密钥
// mch_client_cert 微信支付商户客户端证书 Cert（选填）
// mch_client_key 微信支付商户客户端证书 Key（选填）

return [
    'appid' => 'your_appid',
    'mchid' => 'your_mchid',
    'mchkey' => 'your_mchkey',
    'mch_client_cert' => null,
    'mch_client_key' => null,
];
